<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
           http://www.springframework.org/schema/beans
           http://www.springframework.org/schema/beans/spring-beans.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context.xsd
           http://www.springframework.org/schema/mvc
           http://www.springframework.org/schema/mvc/spring-mvc.xsd
           http://www.springframework.org/schema/tx
           http://www.springframework.org/schema/tx/spring-tx.xsd">

    <!-- Scan all components in com.schoolbus package -->
    <context:component-scan base-package="com.schoolbus" />

    <!-- Enable Spring MVC annotations (@Controller, @RequestMapping, etc.) -->
    <mvc:annotation-driven />

    <!-- Serve static resources (CSS, JS, images) -->
    <mvc:resources mapping="/resources/**" location="/resources/" />

    <!-- JSP View Resolver -->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
<!--         <property name="prefix" value="/WEB-INF/views/" />--> 
       <property name="prefix" value="/" /> 
        <property name="suffix" value=".jsp" />
    </bean>

    <!-- ===== DATABASE: MySQL DataSource (c3p0 connection pool) ===== -->
    <bean id="dataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource"
          destroy-method="close">
        <property name="driverClass"  value="com.mysql.cj.jdbc.Driver" />
        <property name="jdbcUrl"      value="jdbc:mysql://localhost:3306/schoolbus_db" />
        <property name="user"         value="root" />
        <property name="password"     value="Imjeeva@888" />     <!-- Change to your MySQL password -->
<!--         <property name="minPoolSize"  value="5" />
        <property name="maxPoolSize"  value="20" />
        <property name="maxIdleTime"  value="30000" /> -->
    </bean>

    <!-- ===== HIBERNATE: Session Factory ===== -->
    <bean id="sessionFactory"
          class="org.springframework.orm.hibernate5.LocalSessionFactoryBean">
        <property name="dataSource" ref="dataSource" />
        <property name="packagesToScan" value="com.schoolbus.model" />
        <property name="hibernateProperties">
            <props>
                <prop key="hibernate.dialect">org.hibernate.dialect.MySQL8Dialect</prop>
                <prop key="hibernate.show_sql">true</prop>
                <prop key="hibernate.hbm2ddl.auto">update</prop>  <!-- auto-creates/updates tables -->
                <prop key="hibernate.format_sql">true</prop>
            </props>
        </property>
    </bean>

    <!-- ===== TRANSACTION MANAGER ===== -->
    <bean id="transactionManager"
          class="org.springframework.orm.hibernate5.HibernateTransactionManager">
        <property name="sessionFactory" ref="sessionFactory" />
    </bean>

    <!-- Enable @Transactional annotations -->
    <tx:annotation-driven transaction-manager="transactionManager" />

</beans>